footer {
    background-color: blue ;
    border-top: 2px solid red;
}

#activities .img-thumbnail {
    border-radius: 100%;
}

.parallax-perigord {
    /* The image used */
    background-image: url("IMG_0284.JPG");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
