<div class="row row-spacer">
    <div class="col-sm">
        Afin que vous puissiez voyager plus léger, nous mettons à votre disposition dans le gîte un certain nombre d'équipement de puériculture :
        <ul>
            <li>lit parapluie</li>
            <li>chaise haute / siège adapté</li>
            <li>transat</li>
            <li>chauffe biberon</li>
            <li>matelas à langer</li>
            <li>baignoire</li>
            <li>pot</li>
            <li>poussette canne</li>
            <li>porte bébé ventral et dorsal</li>
        </ul>
    </div>
</div>
