<footer class="row bg-dark">
    <div class="col-md-1"></div>
    <div class="col-sm">
        <h3>Les gîtes</h3>
        <ul>
            <li>Le gîte 2 places</li>
            <li>Le gîte 8 places</li>
        </ul>
    </div>
    <div class="col-sm">
        <h3>Reservez via nos partenaires</h3>
        <ul>
            <li>XXX</li>
            <li>XXX</li>
        </ul>
    </div>
    <div class="col-sm">
        <address>
            <strong>Gite Alessentiel</strong><br>
            Granges d’Ans<br>
            Dordogne – France<br>
            <abbr title="Téléphone">Tel:</abbr> +33 (0)6 89 30 71 31<br>
            <abbr title="E-Mail">Mail:</abbr>
            <a href="#" onclick="window.open('mailto:alessentiel.gite@gmail.com?subject=Informations'); return false;">alessentiel.gite@gmail.com</a>
        </address>
    </div>
    <div class="col-md-1"></div>
</footer>
