<div class="row row-spacer">
    <div class="col-sm">
        &nbsp;
    </div>
</div>
<footer class="row bg-dark">
    <div class="col-md-1"></div>

    <div class="col-sm text-center">
        <img src="../../images/logo.png" width="128" height="128" alt="Gîte Alessentiel">
        <a href="https://fr-fr.facebook.com/gite.alessentiel/">
            <img width="32" height="32" src="../../images/facebook.png">
        </a>
    </div>
    <div class="col-sm">
        <address>
            <strong>Gîte Alessentiel</strong><br>
            Granges d’Ans<br>
            Dordogne – France<br>
            <abbr title="Téléphone">Tel:</abbr> +33 (0)6 89 30 71 31<br>
            <abbr title="E-Mail">Mail:</abbr>
            <a href="#" onclick="window.open('mailto:alessentiel.gite@gmail.com?subject=Informations'); return false;">alessentiel.gite@gmail.com</a>
        </address>
    </div>
    <div class="col-md-1"></div>
</footer>
