<div class="row row-spacer">
    <div class="col-sm">
        &nbsp;
    </div>
</div>
<footer class="row bg-dark">
    <div class="col-md-1"></div>

    <div class="col-sm text-center">
        <img src="../../images/logo-128x128.png" alt="Logo Gîte Alessentiel">
        <a href="https://fr-fr.facebook.com/gite.alessentiel/">
            <img src="../../images/facebook.png" alt="Facebook">
        </a>
    </div>
    <div class="col-sm">
        <address>
            <strong>Gîte Alessentiel</strong><br>
            Granges d’Ans<br>
            Dordogne – France<br>
            Tel: +33 (0)6 89 30 71 31<br>
            Mail: <a href="#" onclick="window.open('mailto:alessentiel.gite@gmail.com?subject=Informations'); return false;">alessentiel.gite@gmail.com</a>
        </address>
    </div>
    <div class="col-md-1"></div>
</footer>
