<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Twitter Card data -->
<meta name="twitter:card" value="Gîte Alessentiel">
<meta name="Description" content="Laissez vous porter Alessentiel : en famille, entre amis, profitez de superbes paysages, d’un riche patrimoine et d’une gastronomie généreuse"/>
<meta property="og:title" content="Gîte Alessentiel" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.gite-alessentiel.fr" />
<meta property="og:image" content="https://www.gite-alessentiel.fr/logo-128x128.png" />
<meta property="og:description" content="Laissez vous porter Alessentiel : en famille, entre amis, profitez de superbes paysages, d’un riche patrimoine et d’une gastronomie généreuse" />
<meta name="theme-color" content="#c8ff46">
<meta name="msapplication-navbutton-color" content="#c8ff46">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
<link rel="author" href="humans.txt" />
